/* COMMON */

body {
    background-color: #b91450;
}

h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

h3 {
    text-transform: uppercase;
}

.form-item {
    padding: 1rem;
}

.ms_info_box {
    background-color: white;
    padding: 1rem;
}

label {
    color: #b91450;
}

input, select {
    border: 1px solid #b91450;
    border-radius: 5px;
    padding: 4px;
}

/* TICKET CREATOR AREA */

.ticket-creator {
    border-radius: 10px; 
    text-align: center;
}

.ticket-creator > div:not(.buttons-area) {
    display: inline-block;
    text-align: center;
}

.buttons-area {
    text-align: center;
    padding-top: 2rem;
}

.ms_button {
    color: #b91450;
    background-color: lightgray;
    border-color: #b91450;
}

/* TICKET RESULT AREA */

.ticket-result {
    display: none;
    margin-bottom: 3rem;
}

#ticket-name {
    background-color: gray;
}

.result-info {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.result-info > div {
    display: inline-block;
    padding: 2rem 1rem;
}

/* SHOW THE RESULT OF THE TICKET */
.active {
    display: block;
}